
/* Using a `class` selector */
.h1_, .h2_ {
  background-color: aliceblue;
}

h1, h2 {
  font-style: italic;
  /* comment
  lines */
}

/* Using an `id` selector */
#button_0 {
  cursor: progress;
  /* cursor: wait; */
}

